<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <div>
            <h1>Text To Video</h1>
            <form method="post">
                <input type="text" name="content" id="content" placeholder="content..">
                <button type="submit">Convert</button>
            </form>
        </div>
        {% for post in posts %}
        <h1>{{post}}</h1>
        <video controls width="250">

            <source src="{{ url_for('static', filename='POST.webm') }}" type="video/webm">

            Sorry, your browser doesn't support embedded videos.
        </video>
        <p> Download the Video <a href="{{ url_for('static', filename='POST.webm') }}" target="_blank"
                rel="noopener noreferrer">Here!</a> </p>
        {% endfor %}
    </body>

</html>